<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue-num-to</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="./index.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.1.0/lib/theme-chalk/index.css">
</head>
<body>
	<script src='https://unpkg.com/vue@2.5.13/dist/vue.min.js'></script>
	<script src="https://unpkg.com/element-ui@2.1.0"></script>
	<script src="../dist/vue-num-to.min.js"></script>
	
	<!-- app -->
	<div id="app">
		<!-- Github -->
        <a class="github" href="https://github.com/uncleLian/vue-num-to" target="_blank">
            <div class="bg"></div>
            <img src="https://github.com/uncleLian/vue-num-to/raw/master/screenshots/github.png" alt="Github">
        </a>
        <h1 class="title">Vue NumTo</h1>
        <!-- vueNumTo -->
		<div class="vueNumTo-example">
			<!-- 默认调用 -->
			<div class="default-example">
				<h2>default example</h2>
		        <code>&lt;vue-num-to :endVal="2018"&gt;&lt;/vue-num-to&gt;</code>
		        <div class="defaultNumTo"><vue-num-to></vue-num-to></div>
			</div>
	        
			<div class="custom-example">
				<!-- 其他设置 -->
		        <h2>custom example</h2>
		        <code>&lt;vue-num-to ref="numTo" :startVal="{{startVal}}" :endVal="{{endVal}} :duration="{{duration}}" :autoplay="{{autoplay}}" :prefix="{{prefix}}" :suffix="{{suffix}}" :decimals="{{decimals}}" :decimal="{{decimal}}" :ease="{{ease}}" @complete="handleCompleted"/&gt;</code>
		        <div class="customNumTo"><vue-num-to  ref="numTo" :start-val="startVal" :end-val="endVal" :duration="duration" :autoplay="autoplay" :prefix="prefix" :suffix="suffix" :decimals="decimals" :decimal="decimal" :ease="ease" @complete="handleCompleted" /></div>
		        <!-- 设置值 -->
		        <div class="control">
		            <el-input :clearable="true"  v-model.number.trim="startVal"><template slot="prepend">startVal</template></el-input>
		            <el-input :clearable="true" v-model.number.trim="endVal"><template slot="prepend">endVal</template></el-input>
		            <el-input :clearable="true" v-model.number.trim="duration"><template slot="prepend">duration</template></el-input>
		            <el-input :clearable="true" v-model.number.trim="prefix"><template slot="prepend">prefix</template></el-input>
		            <el-input :clearable="true" v-model.number.trim="suffix"><template slot="prepend">suffix</template></el-input>
		            <el-input :clearable="true" v-model.number.trim="decimal"><template slot="prepend">decimal</template></el-input>
		            <label >小数点后几位</label><el-input-number v-model="decimals" :min="0" :max="10"></el-input-number>
		            <el-checkbox v-model="autoplay">autoplay</el-checkbox>
		            <el-checkbox v-model="ease">ease</el-checkbox>
		        </div>
		        <!-- 控制按钮 -->
		        <div class="control">
		            <el-button type="primary" @click="start">start</el-button>
		            <el-button type="primary" @click="pause">pause</el-button>
		            <el-button type="primary" @click="resume">resume</el-button>
		            <el-button type="primary" @click="reset">reset</el-button>
		            <el-button type="primary" @click="pauseResume">pause / resume</el-button>
		        </div>
			</div>
		</div>
	</div>
	
    <script>
    	new Vue({
	      	el: '#app',
		      data() {
		        return {
		            startVal: 0,
		            endVal: 2018,
		            duration: 5000,
		            prefix: '￥',
		            suffix: 'rmb',
		            decimal: '.',
		            decimals: 0,
		            autoplay: false,
		            ease: true
		        }
		    },
		    methods: {
		        start() {
		            this.$refs.numTo.start()
		        },
		        pause() {
		            this.$refs.numTo.pause()
		        },
		        resume() {
		            this.$refs.numTo.resume()
		        },
		        reset() {
		            this.$refs.numTo.reset()
		        },
		        pauseResume() {
		            this.$refs.numTo.pauseResume()
		        },
		        handleCompleted(val) {
		            this.$message.success(`Completed CallBack Value：${val}`)
		        }
		    }
	    })
    </script>
</body>
</html>